Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.development.local
.git
.gitignore
.eslintrc.json
.next
.nyc_output
.vercel
.DS_Store
coverage
tests
test-results
playwright-report
.vscode
*.log 